In [3]:
import pandas as pd

In [4]:
df_product = pd.read_csv('LOTT/구매상품TR.txt',sep=',',encoding='cp949')

df_product.head()

  제휴사    영수증번호  대분류코드  중분류코드    소분류코드   고객번호  점포코드      구매일자  구매시간  구매금액
0   B  8664000     15   1504  B150401  17218    44  20140222    20  2420
1   B  8664000     16   1601  B160101  17218    44  20140222    20  1070
2   B  8664000     16   1602  B160201  17218    44  20140222    20  8060
3   B  8664000     18   1803  B180301  17218    44  20140222    20  6000
4   B  8664001      5    509  B050901  17674    44  20140222    22  1120

In [17]:
df_product.groupby('영수증번호')['구매금액'].sum().sort_values(ascending=False)

영수증번호
1416069     101330000
1500785     101110000
1677262      99960000
5526155      93654000
3569101      93166350
              ...
5871720            10
10458158           10
5871721            10
5871722            10
641097             10
Name: 구매금액, Length: 11086939, dtype: int64

In [5]:
print('대분류 코드 갯수:' , df_product['대분류코드'].nunique())

대분류 코드 갯수: 92

In [6]:
print('고객수:',df_product['고객번호'].nunique())

고객수: 19383

In [7]:
membership_count = pd.DataFrame(df_product[['제휴사']].value_counts(),columns=['count'])
membership_count

        count
제휴사
B    13338074
C     9379236
A     5770318
D      105402

In [8]:
df_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28593030 entries, 0 to 28593029
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   제휴사     object
 1   영수증번호   int64
 2   대분류코드   int64
 3   중분류코드   int64
 4   소분류코드   object
 5   고객번호    int64
 6   점포코드    int64
 7   구매일자    int64
 8   구매시간    int64
 9   구매금액    int64
dtypes: int64(8), object(2)
memory usage: 2.1+ GB

In [29]:
df_product['구매금액'].mean()

23677.76891574625

In [10]:
df_product.groupby('고객번호')['고객번호'].count()

고객번호
1        1057
2        1116
3        1191
4         930
5         719
         ...
19379     584
19380     440
19381     805
19382     906
19383     260
Name: 고객번호, Length: 19383, dtype: int64

In [35]:
df_product.groupby('고객번호')['구매금액'].mean().sort_values(ascending=False)[:10].astype(int)

고객번호
14599    4648468
15999    4334747
16406    2680405
7957     2538535
8079     2429896
16005    2267099
13376    1796194
10487    1404958
11763    1375067
6207     1301821
Name: 구매금액, dtype: int32

In [4]:
import pandas as pd

a = pd.read_pickle('dataset/연도별전체매출액.pkl')

AttributeError: Can't get attribute 'new_block' on <module 'pandas.core.internals.blocks' from 'C:\\anaconda3\\envs\\cakd3\\lib\\site-packages\\pandas\\core\\internals\\blocks.py'>